.container {
    background-image: url(https://images.unsplash.com/photo-1520034475321-cbe63696469a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    color: white;
    
    
}

.background {
    display: flex;
    align-items:flex-end;
    justify-content: center;
    height: 500px;
    background-image: url(fondo.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    
   
}
.flex-center {
    background-color: rgba(110, 130, 255, .5);
    border-radius: 10px;
    margin: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.flex-center ul {
    list-style: none;
    text-align: left;
    font-size: 20px;
    color: antiquewhite;
}

.btn-search{
    background-color:rgba(100, 255, 255,.7);
    color: white;
    border-radius: 7px;
    font-size: 15px;
    margin-left: 5px;
}

.card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    
}

.individual {
    background-color: rgba(100, 255, 255,.3);
    border-radius: 20px;
    padding: 10px;
}